#navigationBar{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

#navSpacer{
    width: 100%;
    height: 110px;
    /* background-color: red; */
}

.navImage {
    width: 70px;
    height: auto;
}


.navbar-expand-lg .navbar-nav .dropdown-menu {
    background: #000;
    min-width: 280px;
}


.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #fff;
    text-align: inherit;
    white-space: nowrap;
    background-color: #eeeeee80;
    border: 0;
    margin-bottom: 10px;
}

.carouselCstmImg {
    max-height: 500px;
}

#aboutUsPart {
    background-color: #0D3118E0;
    padding: 60px;
    color: white;
}

.aboutUsImg {
    margin: 0px auto;
    max-width: 320px;
    padding: 30px;
}


.ownerImg {
    transition: all 0.7s;
}

.ownerImg:hover {
    scale: 1.1;
    opacity: 0.8;
}

.card {
    overflow: hidden;
    transition: all 0.7s;
}

.card:hover {
    box-shadow: 0px 0px 15px 2px #117530;
}

.startsAt {
    color: #088a31;
}

.addToWishList {
    font-size: 25px;
    margin-right: 15px;
}

.text-mute {
    color: #777;
}


.ContactUs {
    background-image: url("https://wallpaperaccess.com/full/14501.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.ContactUs .form-control {
    background: transparent;
    color: white;
}

#contactFrom {
    padding: 50px;
    background: #093c30ba;
    border-radius: 15px;
}





/* footer  */
#footerPart {
    background-color: black;
    color: white;
    padding: 45px;
}

#footerPart ul {
    list-style: none;
    color: white;
}

#footerPart a {
    color: white;
}

#footerPart li {
    margin: 15px auto;
}

.footerLogo {
    max-width: 160px;
    height: auto;
}






/* -------------------------- carpenter profile ----------------------  */


.carpenter_profile_img {
    width: 100%;
    box-shadow: 0px 0px 15px 5px #2b2b2b;
}

#carpenterabout {
    max-height: 300px;
    overflow-y: auto;
}

.reviewerImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.ratingpara {
    margin-left: 60px;
    color: #4a4a4a;
}

.reviewline {
    margin-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #979797;
}

.productCarouselCstmImg {
    width: 100%;
    height: 350px;
}

.down_arrow {
    font-weight: bold;
    font-size: 120px;
    margin-top: -30px;
}

#arrowDown {
  text-align: center;
  height: auto;
  font-weight: bold;
  border-radius: 50%;
  font-size: 50px;
  transition: all 0.5s;
}

.rotate {
  rotate: 180deg;
}

.rightBorder{
    border-right: 0px solid #b3b2b2;
}


#notifivations {
  padding: 25px;
  background: #f4f4f4;
  border-radius: 7px;
  box-shadow: 0px 0px 5px 0px #6f6f6f;
  margin: 40px auto;
}

.productImg{
    max-width: 150px;
    height: auto;
}


#addUnits {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.unitLine {
  width: 30%;
  margin: 20px 10px;
  border: 4px solid #343a40;
  border-radius: 10px;
}

.unitImage {
  width: 100%;
  height: 300px;
  border-radius: 7px 7px 0px 0px;
}

#buttons{
    margin-top: 30px;
}

.popUpImg {
  height: 70vh;
  margin-top: 50px;
  max-width: 650px;
}

#crossPopUp {
  color: white;
  font-size: 30px;
  position: relative;
  top: -25%;
  left: 20px;
}



#showImagePopup {
  width: 100%;
  height: 100vh;
  background: #000c;
  justify-content: center;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}


#profileImg{
    width: 200px;
    height: 200px;
    margin: 20px;
    margin-bottom: 30px;
}

#profileshowdiv img{
    width: 200px;
    height: 200px;
}

#profileshowdiv i {
  float: right;
  font-size: 23px;
}

.uploader {
    opacity: 0;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}

.container {
    position: relative
}


#addImagesForBid {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

#completeOrderDetails {
  padding: 35px;
  max-width: 1000px;
  margin: 70px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px #9d9d9d;
}


input[type=checkbox] {
         position: relative;
	       cursor: pointer;
    }
    input[type=checkbox]:before {
         content: "";
         display: block;
         position: absolute;
         width: 16px;
         height: 16px;
         top: 0;
         left: 0;
         border: 2px solid #555555;
         border-radius: 3px;
         background-color: white;
}
    input[type=checkbox]:checked:after {
         content: "";
         display: block;
         width: 5px;
         height: 10px;
         border: solid black;
         border-width: 0 2px 2px 0;
         -webkit-transform: rotate(45deg);
         -ms-transform: rotate(45deg);
         transform: rotate(45deg);
         position: absolute;
         top: 2px;
         left: 6px;
}

@media only screen and (min-width: 1100px) {
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute;
    }

    .rightBorder{
        border-right: 4px solid #b3b2b2;
    }
}

@media screen and (max-width: 600px) {
    .unitLine{
        width: 100%;
    }
    .popUpImg {
        max-width: 300px;
    }

    #completeOrderDetails{
        margin: 70px 20px;
    }
}